# Dependencies
node_modules

# Environment
.env
.env.local
.env.*.local
!.env.example

# Build
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
